*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
    color: white;
}
a{
    text-decoration: none;
}
.parent_page{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1fr;
    position: relative;

}
.parent_page_background {
    height: 100vh;
    width: 100vw;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    grid-column: 1 / span 2;
    grid-row: 1/3;
    z-index: 0; 
}
.navbar{
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 10;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}

.logo_label {
    width:auto;
    background-color: transparent;
    display: grid;
    grid-template-columns: 5px 80px 241px;
    grid-template-rows: 1fr;
    
}
.logo{
    grid-column: 2/3;
    background-color: transparent;
    background-image: url(./images/beach_icon\(1\).svg);
    background-size: cover;
    width: 100%;
    height: 100%;
}
.title{
    grid-column: 3/4;
    background-color: transparent;
    color: white;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
    font-size: 18pt;
    display: inline-flex;
    flex-flow: row wrap;
    align-content: center;
}
.title>*{
    margin-top: 20px;
    background-color: transparent;
}
.remaining_nav{
    background-color: transparent;
    display: grid;
    grid-template-columns: 120px 120px 120px;
    gap:20px;
}
.remaining_nav *{
    margin-top: 20px;
    background-color: transparent;
    font-size: 20pt;
}
.home{
    grid-column: 1/2;
}
.about_us{
    grid-column: 2/3;
}
.login{
    grid-column: 3/4;
}
.text{
    position: absolute;
    z-index: 2;
    align-self: center;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 30pt;
    color: white;
    background-color: transparent;
    width:auto;
}
#title{
    background-color: transparent;
}
#title>span{
    font-weight: 700;
    font-size:40pt;
    background-color: transparent;
}
#subheading{
    font-size: 12pt;
    font-style: oblique;
    background-color: transparent;
}
.hotel_half{
    order:1;
}
.flight_half{
    height: 100vh;
    width: 50%;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-end;

}
