
.hotel_half{
    height: 100vh;
    width: 50vw;
    background-image: url(./images/hotel_lobby\(2\).jpeg);
    background-size: 100% 100%;
    animation: hotel_slider 12s ease-out 3s 5 ;
}
.hotel_half_blur{
    height: 100%;
    width:100%;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    background-color: transparent;
    backdrop-filter: blur(10px);
    opacity: 0;

}
.hotel_half_btn{
    width: auto;
    height: auto;
    background-color: transparent;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}
.hotel_half_btn button{
    opacity: 0;
    border-radius: 50px;
    background-color: transparent;
    border-color: orangered;
    padding-top: 2px;
    padding-bottom: 2px;
}
.hotel_half a{
    text-decoration: none;
    color: orangered;
    font-size: 24px;
    background-color: transparent;
    padding-right: 15px;
    padding-left: 15px;

}


.hotel_half:hover>.hotel_half_blur{
    opacity: 1;
}
.hotel_half:hover>.hotel_half_blur>.hotel_half_btn>button{
    opacity: 1;
    translate: (50%,-50%);
}
@keyframes hotel_slider {
    0% {
        /* transform: translateX(50vw); */
        background-image: url(./images/hotel_lobby\(2\).jpeg);
      }
    
    50% {
        /* transform: translateX(0vw); */
        background-image: url(./images/hotel_lobby\(1\).jpeg);
      }
    100%{
        background-image: url(./images/hotel_select.jpeg);
    }
}
@keyframes changetolobby {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}